body {
    background-color: #eee;
    margin: 0px;
}

main {
    padding-left: 5%;
    padding-right: 5%;
}

.test {
    justify-content: center;
    align-items: center;
    display: flex;
}

.popup-container {
    position: fixed;
    top: -100%;
    left: 0 auto;
    display: flex;
    transition: top 0.7s;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px gray;
}

.img {
    width: 30vh;
}

/*==========ヘッダー==========*/
header {
    width: 100%;
    padding: 0px;
    background-color: #808080;
}

.header-ul {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    list-style: none;
    display: flex;
}

.title-256 {
    margin-top: 3px;
    margin-right: auto;
}

.title-256 a {
    margin: 0px;
    margin-top: 0px;
    padding: 0px;
    height: 40px;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
}

nav {
    margin-top: 7px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.nav-link {
    display: flex;
    justify-content: flex-end;
}

.nav ul {
    display: flex;
    margin-right: 3%;
    justify-content: flex-end;
}
